.Eingabefeld {
  width: 50%;
  height: 100px;
  border: 2px solid;
  border-radius: 3px;
  resize: none;
  font-size: 16px;
  padding: 10px;
  background-color: beige;
}

.card-container {
  display: flex;
  gap: 32px;
}

