
body {
    background-color: rgba(63, 5, 5, 0.514);
}

.Eingabefeld {
    width: 50%;
    height: 100px;
    border: 2px solid;
    border-radius: 3px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    background-color: beige;
  }
  
  .card-container {
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .card {
    width: 75%;
  }

  @media (max-width: 850px) {
    .card-container {
        flex-direction: column;
    }
  }