
body {
    background-color: rgba(63, 5, 5, 0.514);
}

.App {
  padding-left:2rem;
  padding-right:2rem;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

}


.Eingabefeld {
    width: 50%;
    height: 100px;
    border: 2px solid;
    border-radius: 3px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    background-color: beige;
  }

  .filter-container {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
  }
  
  .card-container {
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .card {
    width: 75%;
  }

  @media (max-width: 850px) {
    .card-container {
        flex-direction: column;
    }
  }
