@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  font-family: "Quicksand";
}

body {
  background-color: rgb(255, 255, 255);
}


/* Header*/
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #14354b;
  padding: 10px;
  color: #fff;
}

/* Text des Containers (EnchantedEats) */
.headline-container {
  text-align: center; 
}


.nav {
  display: flex;
  justify-content: center; 
  margin-top: 10px; /*Abstand der Nav-Elemente nach oben*/
  

}

.nav li {
  margin-right: 20px /*Abstand zwischen den Nav-Elementen */
}

.nav li:hover{
  background-color: #550d0d;

}

.nav-container {
  z-index: 1;
}

.nav a {
  display: flex;
  color: inherit;
  text-decoration: none;
  height: 100%;
  align-items: center;
}

.nav ul{
  display: flex;
  list-style: none;
  padding: 0;
}


/* Eingabe (recipe search) */
.input-container {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
  width: 100%;
}

.form-button-control {
  cursor: pointer;
}

.btn-search {
  margin-bottom: 8px;
  background-color: #a0adb6;
  color: #000000;
  border: 1px solid #ffffff
}

.Recipes input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.Recipes button {
  background-color: #14354b; 
  color: #fff; 
  padding: 10px;
  border: none;
}

.Recipes button:hover{
  background-color: #550d0d;

}

.recipe-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}


.form-control {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}


/*umfasst als Gesamtheit die Elemente Checkbox Vegetarier, Dropdown-Liste Area und Zufallsrezept in RecipeInput*/
.recipe-filter-container {
  display: flex;
  flex-direction:row;
  justify-content: space-around;

  
  
}
/* umfasst einzeln die Elemente Checkbox Vegetarier, Dropdown-Liste Area und Zufallsrezept in RecipeInput*/
.filter-container {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
  
}

.filter-label {
  margin-bottom: 5px;
}

.filter-dropdown {
  padding: 8px;
  font-size: 16px;
  width: 30%;
  box-sizing: border-box;
}


.filter-checkbox {
  margin-top: 5px;
}

select {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 30px;
}




/* Ausgabe*/

.output-container {
  padding-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  width: 300px;
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  background-color: #ffffff;
  padding: 15px;
}


.card:hover {
  cursor: pointer;
  margin-bottom: 20px;
  border-width: 2px;
  border-color: #14354b;
  opacity:0.8;
}

.btn-primary {
  margin: 30px auto; /* horizontal zentriert */
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
}

.Recipes {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px; 
}

.recipe-details {
  border-width: 200px;
  padding: 50px 50px 50px 50px;
}

@media (max-width: 850px) {
  .card-container {
    flex-direction: column;
  }
}

/*dropdown-Elemente in MyPantryInput */
.dropdownM{
  padding-top: 6px;
}

/* dropdown-Elemente in MyPantryInput*/
#unit, #categorie, #area{
  width: 20vw;
}

/*Container, der die gesamten Eingabelemente umfasst in MyPantryInput*/
.input-container2 {
  display:flex;
  flex-direction:row;
  align-items:baseline;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*beinhaltet den deleteButton aus MyPantryList*/
.input-container3 {
  display:flex;
  justify-content:row;
  width: 100%;
}

/* bezieht sich auf alle Eingabelemente einzeln, im  MyPantryInput Skript*/
.col{
  padding-left: 10px;
  padding-right: 10px;
}

/*umschließt die gesamte Liste/ Tabelle inklusive delete Button in MyPantryList*/
.card-container table {
  border-collapse: collapse;
  width: 100%;
}

/* betrifft die th und td Elemente der Tabelle/ Liste in MyPantryList */
.card-container th, .card-container td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

/*delete Button in MyPantryList*/
 .deleteb{
margin-top: 10px;
margin-left: -15px;
}

/*beinhaltet die Tabelle/Liste ohne delete Button in MyPantryList*/
.inputArea{
background-color: #fff;
border: 1px solid #ccc;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 40px 20px 40px 20px;
}



/*umschließt die Funktionalität der Tabelle/ Liste inklusive den delete Button in MyPantry*/
.food {
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-inline: 20px;
  margin-bottom: 80px;
  padding: 20px;
  text-align: center;
}

/*bezieht sich auf das div-Elemente buttons in myPantry, das die buttons umschließt */
.buttons {
  display: flex;
  justify-content:first baseline;
  padding-left: 15px;
  padding-bottom: 10px;
  
}
/*bezieht sich auf die buttons im div-Element buttons in MyPantry*/
.buttons button {
  background-color: #14354b;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px; 
}

/* hover Effekt auf die buttons im  div-Element buttons in MYPAntry*/
.buttons button:hover {
  background-color: #550d0d;
}

/* Liste der Lebensmittel */
.MyPantryList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style für die MyProfile-Seite*/

.clear {
  clear: both;
}

.image-preview {
  margin-top: 10px;
  text-align: center;
}

.image-preview img {
  max-width: 200px;
  max-height: 200px;
  border: 2px solid black; /* Schwarzer Rahmen */
  border-radius: 8px; /* Abgerundete Ecken */
  display: block;
  margin: 0 auto; /* Zentriert das Bild */
}

.profile-info {
  margin-bottom: 10px;
  text-align: center;
}
/*alle label-Elemente*/
.label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}

.profile-text {
  margin-bottom: 10px;
}


.MealSchedule {
  max-width: 900px; 
  margin: auto;
  margin-top:20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px; 
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/*input kommt doppelt vor - 2. ist weiter unten mit anderen Werten */
input {
  width: 100%;
  padding: 10px;
  margin: 5px;
   box-sizing: border-box;
  border: 1px solid #ccc;
}


.meal {
  text-align: center;
  margin-bottom: 10px; 
}


.Profile {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ergänzung für enchanted-eats-link durch Saskia */
.enchanted-eats-link {
  color: inherit; /* Verwendet die Standardfarbe des Texts */
  text-decoration: none; /* Entfernt die Standardunterstreichung von Links */
}

.enchanted-eats-link:hover {
  color: #fff; /* Ändert die Farbe beim Überfahren des Links */
  text-decoration: underline; /* Fügt eine Unterstreichung beim Überfahren hinzu */
}
/*Design Impressum*/
.impressum-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.address-container {
 
  margin-top: 10px;
  text-align: center;
}

.address-container p {
  margin-bottom: 5px;
}

.address-container a {
  color: #007bff; 
}

h3 {
  font-weight: bold;
  text-decoration: underline;

}

h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}


.textarea-no-border {
  width: 700px;
  margin-bottom: 20px;
  border: none; 
  resize: none; 
  outline: none;
  text-align: center;
}

.no-recipe-found {
  text-align: center;
  margin-top: 5px;
}