@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  font-family: "Quicksand";
}

body {
  background-color: rgb(255, 255, 255);
}


/* Header*/
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #14354b;
  padding: 10px;
  color: #fff;
}

/* headline (EnchantedEats) */
.headline-container {
  text-align: center; 
}


.nav {
  display: flex;
  justify-content: center; 
  margin-top: 10px; /*margin of Navbar-elements towards the top*/
  

}

.nav li {
  margin-right: 20px /*margin between Navbar-elements */
}

.nav li:hover{
  background-color: #550d0d;

}

.nav-container {
  z-index: 1;
}

.nav a {
  display: flex;
  color: inherit;
  text-decoration: none;
  height: 100%;
  align-items: center;
}

.nav ul{
  display: flex;
  list-style: none;
  padding: 0;
}


/* input (recipe search) */
.input-container {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 80px;
  width: 100%;
}

.form-button-control {
  cursor: pointer;
}

.btn-search {
  margin-bottom: 8px;
  background-color: #a0adb6;
  color: #000000;
  border: 1px solid #ffffff
}

.Recipes input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.Recipes button {
  background-color: #14354b; 
  color: #fff; 
  padding: 10px;
  border: none;
}

.Recipes button:hover{
  background-color: #550d0d;

}

.recipe-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  
}


.form-control {
  padding: 8px;
  font-size: 16px;
}


/* checkbox vegetarian, dropdown-list area and random recipe in RecipeInput*/
.filter-container {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.recipe-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-label {
  margin-bottom: 5px;
}



.filter-dropdown {
  padding: 8px;
  font-size: 16px;
  width: 30%;
  box-sizing: border-box;
}


.filter-checkbox {
  margin-top: 5px;
}

select {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 30px;
}



/*output*/

.output-container {
  padding-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  width: 300px;
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  background-color: #ffffff;
  padding: 15px;
}


.card:hover {
  cursor: pointer;
  margin-bottom: 20px;
  border-width: 2px;
  border-color: #14354b;
  opacity:0.8;
}

.btn-primary {
  margin: 30px auto; /* horizontally centered */
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  align-items: center;
}

.Recipes {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px; 
}

.recipe-details {
  border-width: 200px;
  padding: 50px 50px 50px 50px;
}

@media (max-width: 850px) {
  .card-container {
    flex-direction: column;
  }
}

/*dropdown-elements in MyPantryInput */
.dropdownM{
  padding-top: 0px;
}

#unit, #categorie, #area{
  width: 20vw;
  
}

/* all input elements in MyPantryInput*/
.input-container2 {
  display:flex;
  flex-direction:row;
  align-items:baseline;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*deleteButton in MyPantryList*/
.input-container3 {
  display:flex;
  justify-content:center;
  width: 100%;
}

/* all input within MyPantryInput script*/
.col{
  padding-left: 10px;
  padding-right: 10px;
}

/* whole list / table / delete Button in MyPantryList*/
.card-container table {
  border-collapse: collapse;
  width: 100%;
}

/* th and td elements of the table / list in MyPantryList */
.card-container th, .card-container td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

/*delete Button in MyPantryList*/
 .deleteb{
margin-top: 10px;
margin-left: -15px;
}

/*table / list, without delete Button in MyPantryList*/
.inputArea{
background-color: #fff;
border: 1px solid #ccc;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 40px 20px 40px 20px;
}



/*table / list, delete Button in MyPantry*/
.food {
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-inline: 20px;
  margin-bottom: 80px;
  padding: 20px;
  text-align: center;
}

/*div-element buttons in myPantry */
.buttons {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-bottom: 10px;
  align-items: center;
  margin-top: 40px;

  
}
/*buttons within div-element buttons in MYPAntry*/
.buttons button {
  background-color: #14354b;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px; 
}

/* hover effect for buttons in div-element buttons in MYPAntry*/
.buttons button:hover {
  background-color: #550d0d;
}

/* list of foods for mypantry component */
.MyPantryList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MyProfile-component*/

.clear {
  clear: both;
}

.image-preview {
  margin-top: 10px;
  text-align: center;
}

.image-preview img {
  max-width: 200px;
  max-height: 200px;
  border: 2px solid black; 
  border-radius: 8px; /* smooth edges */
  display: block;
  margin: 0 auto; /* centers the image */
}

.profile-info {
  margin-bottom: 10px;
  text-align: center;
}

/*label-elements*/
.label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}

.profile-text {
  margin-bottom: 10px;
}


.MealSchedule {
  max-width: 900px; 
  margin: auto;
  margin-top:20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px; 
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


.meal {
  text-align: center;
  margin-bottom: 10px; 
}


.Profile {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* added changes for enchanted-eats-link by Saskia */
.enchanted-eats-link {
  color: inherit; /* uses default color of the text */
  text-decoration: none; /* removes default underlining */
}

.enchanted-eats-link:hover {
  color: #fff; 
  text-decoration: underline; 
}


/*Imprint page*/
.impressum-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.address-container {
 
  margin-top: 10px;
  text-align: center;
}

.address-container p {
  margin-bottom: 5px;
}

.address-container a {
  color: #007bff; 
}

h3 {
  font-weight: bold;
  text-decoration: underline;

}

h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}


.textarea-no-border {
  width: 700px;
  margin-bottom: 20px;
  border: none; 
  resize: none; 
  outline: none;
  text-align: center;
}

.no-recipe-found {
  text-align: center;
  margin-top: 5px;
}

.logo-and-text-container {
  display: flex;
  align-items: center;
}


.logo-container {
  margin-right: 10px;
}


.logo {
  width: 80px;
  height: auto;
}


.text-container {
  margin-top: 2px;
  font-size: 5rem;
}
