body {
  background-color: rgb(255, 255, 255);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14354b; 
  padding: 10px;
  color: #fff; 
}

.nav.nav-tabs {
  margin-bottom: 0;
  margin-right: 40px;
}


.nav.nav-tabs .nav-item {
  margin-right: 0px;
}

/* HeadLine Component */
.headline-container {
  color: #fdfdfd; 
  margin-left: 70px;
}

/* Suchleiste (Zutaten) */
.form-control {
  width: 70%;
  resize: none;
  margin-right: auto;
  margin-left: 90px;
  margin-top: 15px;
}

/* Button Suchleiste (Zutaten) */
.form-button-control {
  cursor: pointer;
}


/* Button Suchleiste (Zutaten) */
.form-control {
  width: 70%;
  resize: none;
  margin-right: auto;
  margin-left: 90px;
  margin-top: 15px;
}


/* FilterKategorien */
.filter-container {
  margin-top: 5px;
  margin-right: 240px;
  display: flex;
 
}

/* InputDish Komponente */
.input-container {
  margin-top: 20px;
}

/* CardDish und OutputDish Komponenten */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 150px;
}

.card {
  width: 300px;
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  background-color: #ffffff; 
  padding: 15px;
}

.btn-primary {
  background-color: #14354b; 
  color: #ffffff; 
  border: 1px solid #ffffff
}


  @media (max-width: 850px) {
    .card-container {
        flex-direction: column;
    }
  }
